@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
a{text-decoration: none;color: inherit;}
a:hover,a:focus{text-decoration: none;color: inherit;}

.header-top-main{
  width: 100%;
  padding: 0 120px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.header-top {
  width: 100%;
  background: #243e80;
  padding: 0 120px;
}

.header-top-flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top-text-div{
  height: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 15px 15px 0;
  cursor: pointer;
  border-right: 1px solid #fff;
}

.header-top-text-div:last-child{
  border-right: 0;
}

.header-top-text-div:hover h6{
  color: #EF5375;
}

.header-top-text-div h6{
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s ease;
}

.header-top-btn a {
    display: inline-block;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    background: #EF5375;
    transition: 0.6s ease;
}

.header-top-btn a:hover{
  background: #1e346c;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-navigation ul{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.header-navigation ul li{
  list-style: none;
}

.header-navigation ul li a{
  font-size: 20px;
  font-weight: 600;
  color: #243E80;
  position: relative;
  transition: 0.6s ease;
}

.header-navigation ul li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #EF5375;
  transition: 0.6s ease;
}

.header-navigation ul li a:hover{
  color: #EF5375;
}

.header-navigation ul li a:hover::before{
  width: 100%;
}

.header-navigation svg {
  opacity: 0;
  pointer-events: none;
  font-size: 26px;
}

/* BANNER COMPONENT CSS */

.banner-section{
  width: 100%;
  background: url('./assets/banner.png') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 120px 100px;
  position: relative;
}

.banner-slides {
  padding: 120px 0;
}

.banner-text h3 {
  font-size: 28px;
  font-weight: 400;
  color: #EF5375;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  color: #243E80;
  text-transform: uppercase;
  line-height: 55px;
  padding: 15px 0;
}

.banner-text p {
  font-size: 18px;
  font-weight: 400;
  color: #243e80;
}

.banner-text a {
    background: #ef5375;
    padding: 18px 40px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  transition: 0.5s ease;
  position: relative;
  border: 1px solid #243E80;
}

.carousel-indicators [data-bs-target]::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #243e80;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  display: none;
}

.carousel-indicators .active{
  background-color: #243E80;
  border-color: #fff;
}

.carousel-indicators [data-bs-target].active::before{
  display: block;
}

.carousel-indicators {
  right: -110px;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  gap: 15px;
  left: unset;
  margin-right: 0;
  margin-left: 0;
}

.banner-bottom {
  position: absolute;
  width: 100%;
  bottom: -15%;
  left: 0;
  padding: 0px 140px;
}

.banner-bottom-div{
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.banner-bottom-div.grey-bg{color: #000;}
.grey-bg{background: #F2F2F2;}
.blue-bg{background: #243e80;}
.pink-bg{background: #EF5375;}

.banner-bottom-div-text h4{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.banner-bottom-div-text p{
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

/* About Component CSS */

.about-section {
  width: 100%;
  padding: 245px 120px 180px;
  background: url('./assets/about_bg.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.about-section-text h6 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ef5375;
  position: relative;
  padding-left: 70px;
}

.about-section-text h6::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: #EF5375;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.about-section-text h3 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway' , sans-serif;
  line-height: 55px;
  letter-spacing: -2px;
  padding: 10px 0;
  color: #243e80;
}

.about-section-text h5 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 10px 0 20px;
}

.about-section-text p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.about-section-text a {
  background: #243e80;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 80px;
  display: inline-block;
  margin-top: 40px;
}

.clr-pink{
  color: #EF5375;
}

.about-section-img {
  text-align: center;
  position: relative;
}

.about-section-img-top-text {
  width: 38%;
  position: absolute;
  top: 0;
  left: 0;
  background: #243e80;
  padding: 20px 0;
  color: #fff;
}

.about-section-img-top-text h5{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.about-section-img-top-text h6{
  font-size: 18px;
  font-weight: 400;
}

.about-section-img-bottom-text {
  width: 45%;
  position: absolute;
  right: 40px;
  bottom: -30px;
  box-shadow: 0px 0px 5px 0px rgba(117,117,117,0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(117,117,117,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(117,117,117,0.75);
  background: #fff;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-section-img-bottom-text-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-section-img-bottom-text-div h5 {
  font-size: 26px;
  font-weight: 700;
  color: #243e80;
}

.about-section-img-bottom-text-div h6 {
  font-size: 18px;
  font-weight: 400;
  color: #243e80;
}

/* TESTIMONIAL SECTION CSS */

.testimonial-section {
  width: 100%;
  background: #fef3f5;
  padding: 60px 300px;
}

.testimonial-section h5{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ef5375;
  padding-bottom: 10px;
}

.testimonial-section h3{
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway' , sans-serif;
  line-height: 55px;
  letter-spacing: -2px;
  padding: 10px 0;
  color: #243e80;
  text-align: center;
}

.testimonial-main {
  padding: 100px 120px;
  background: #fff;
  margin-top: 80px;
}

.testimonial-carousel-item img{
  display: block;
  margin: 0 auto 40px auto;
}

.testimonial-carousel-item p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 80%;
  font-style: italic;
  display: block;
  margin: 0 auto;
  }

.line{
  width: 20%;
  height: 1px;
  background: #243E80;
  display: block;
  margin: 45px auto 40px;
}

.testimonial-carousel-item h4{
  font-size: 22px;
  font-weight: 600;
  color: #243e80;
  text-align: center;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.rating svg{
  color: #FF9900;
}

.testimonial-section .carousel-control-next, 
.testimonial-section .carousel-control-prev{
  position: unset;
  display: unset;
  width: unset;
  background: #243E80;
  padding: 10px 15px;
  opacity: 1;
}
.testimonial-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}

/* SERVICES SECTION CSS  */

.services-section{
  width: 100%;
  background: url('./assets/about_bg.png') no-repeat;
  background-position: left;
  background-size: contain;
  padding: 60px 120px 0;
}

.services-section-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-section-img img{
  width: 60%;
}

.services-section-text p{
  width: 80%;
  padding-top: 20px;
}

/* FOCUS SECTION CSS */

.focus-section{
  width: 100%;
  background: url('./assets/focus.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.focus-section-overlay{
  width: 100%;
  height: 100%;
  background: rgba(36, 62, 128, 0.9);
  padding: 80px 120px;
}

.focus-section-text{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.focus-section-text h3 {
  width: 50%;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -3px;
  padding-bottom: 20px;
  font-family: 'Railway', sans-serif;
}

.focus-section-text p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 70%;
  padding-top: 10px;
}

.focus-section-text a{
  display: inline-block;
  color: #243e80;
  background: #fff;
  padding: 18px 80px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

/* CONTACT SECTION CSS */

.contact-section{
  width: 100%;
  background: #fff;
  padding: 80px 120px;
}

.contact-section-text{
  padding-top: 80px;
  padding-right: 30px;
}

.contact-section-text h3{
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway' , sans-serif;
  line-height: 55px;
  letter-spacing: -2px;
  padding: 10px 0;
  color: #243e80;
}

.contact-section-text p{
  color: #111;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.clr-black{
  color: #000;
  font-weight: 500;
}

.contact-section-text-bottom {
  padding-top: 20px;
  display: flex;
  gap: 40px;
}

.phone-div,.location-div {
  width: 20px;
  height: 20px;
  background: #fff;
  color: #EF5375;
  padding: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
  -moz-box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
}

.dotted-div {
  height: 70px;
  border-left: 7px dotted #243E80;
  margin: 14px 0px 14px 28px;
}

.contact-section-text-right h6{
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}

.contact-section-text-right h5{
  font-size: 22px;
  font-weight: 600;
  color: #243e80;
}

.contact-section-form {
  width: 100%;
  background: #f9fafc;
  margin-top: 60px;
  padding: 0 120px 60px;
}

.contact-section-form h4{
  font-size: 36px;
  font-weight: 500;
  font-family: 'Railway',sans-serif;
  color: #243E80;
  text-align: center;
  text-transform: uppercase;
  padding: 80px 0;
}

.contact-form-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-div input,
.contact-form-div select{
  width: 100%;
  padding: 10px;
  color: #707070;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #707070;
}

.contact-form-div span{
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}

.contact-form-div a{
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  background: #243E80;
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/* FOOTER SECTION CSS */

.footer-section{
  width: 100%;
  background: #243E80;
  margin-top: 120px;
  padding: 60px 120px;
}

.footer-section img {
  display: block;
  margin: 0 auto;
}

.footer-section p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  width: 50%;
  text-align: center;
  margin: 10px auto 50px;
}

.footer-section-div-icon{
  width: 20px;
  height: 20px;
  background: #fff;
  color: #EF5375;
  padding: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
  -moz-box-shadow: 0px 0px 12px -3px rgba(133,127,127,0.75);
}

.footer-section-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section-div h4 {
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  padding: 15px 0;
  margin-bottom: 0;
  text-align: center;
}

.footer-section-div h5 {
  font-size: 16px;
  font-weight: 300;
  color: #ffff;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom-section {
  width: 100%;
  background: #1e346c;
}

.footer-bottom-section p{
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding: 25px 0;
  margin-bottom: 0;
}

/* BUBBLES COMPONENT CSS */

.bubbles_wrap{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:9999;
  overflow:hidden;
  pointer-events:none
}
@-webkit-keyframes animateBubble{
  0%{
      margin-top:20%
  }
  to{
      margin-top:-30%
  }
}
@-moz-keyframes animateBubble{
  0%{
      margin-top:20%
  }
  to{
      margin-top:-30%
  }
}
@keyframes animateBubble{
  0%{
      margin-top:20%
  }
  to{
      margin-top:-30%
  }
}
@-webkit-keyframes sideWays{
  0%{
      margin-left:0
  }
  to{
      margin-left:25px
  }
}
@-moz-keyframes sideWays{
  0%{
      margin-left:0
  }
  to{
      margin-left:25px
  }
}
@keyframes sideWays{
  0%{
      margin-left:0
  }
  to{
      margin-left:25px
  }
}
.x1{
  -webkit-animation:animateBubble 15s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation:animateBubble 15s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left:6%;
  top:45%;
  background:#243E80
}
.x2{
  -webkit-animation:animateBubble 10s linear infinite,sideWays 4s ease-in-out infinite alternate;
  animation:animateBubble 10s linear infinite,sideWays 4s ease-in-out infinite alternate;
  left:5%;
  top:80%;
  background:#fc4fdd
}
.x3{
  -webkit-animation:animateBubble 18s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation:animateBubble 18s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left:10%;
  top:40%;
  background:#EF5375
}
.x4{
  -webkit-animation:animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  animation:animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  left:20%;
  top:0;
  background:#243E80
}
.x5{
  -webkit-animation:animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  animation:animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  left:30%;
  top:50%;
  background:#fc4fb1
}
.x6{
  -webkit-animation:animateBubble 11s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation:animateBubble 11s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left:50%;
  top:0;
  background:#2c4aff
}
.x7{
  -webkit-animation:animateBubble 10s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation:animateBubble 10s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left:65%;
  top:70%;
  background:#EF5375
}
.x8{
  -webkit-animation:animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  animation:animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  left:80%;
  top:10%;
  background:#243e80
}
.x9{
  -webkit-animation:animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  animation:animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  left:90%;
  top:50%;
  background:#EF5375
}
.x10{
  -webkit-animation:animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation:animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left:80%;
  top:80%;
  background:#fc4f4f
}
.bubble{
  border-radius:50%;
  box-shadow:none;
  height:5px;
  position:absolute;
  width:5px
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 529px) {
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
}
@media only screen and (min-width: 425px) and (max-width: 529px) {
}
@media only screen and (min-width: 530px) and (max-width: 767px) {
}
@media only screen and (min-width:768px) and (max-width: 991px) {
}
@media only screen and (min-width:992px) and (max-width: 1199px) {
}
@media only screen and (min-width:1260px) and (max-width: 1365px) {
}
@media only screen and (min-width:1366px) and (max-width: 1439px) {
  .header-top,.header-top-main{padding: 0 40px;}
  .header-top-text-div h6{font-size: 14px;}
  .header-top-btn a{font-size: 14px;}
  .header-navigation ul li a{font-size: 18px;}
  .logo img{width: 150px;}
  .banner-text h3 {font-size: 20px;}
  .banner-text h2,.about-section-text h3,.contact-section-text h3{font-size: 50px;line-height: 45px;}
  .banner-text p{font-size: 16px;}
  .banner-text a {padding: 16px 30px;margin-top: 20px;font-size: 16px;}
  .banner-section{padding: 0 40px 50px;}
  .carousel-indicators{right: -75px;}
  .banner-bottom{padding: 0 80px;}
  .banner-bottom-div{padding: 40px 20px;}
  .banner-bottom-div-text p{font-size: 15px;}
  .about-section{padding: 245px 40px 180px;}
  .about-section-text h6,.about-section-text h5{font-size: 16px;}
  .about-section-text p{font-size: 15px;}
  .about-section-text a{font-size: 18px;padding: 15px 50px;}
  .about-section-img-top-text{left: -30px;}
  .about-section-img-top-text h5{font-size: 20px;}
  .about-section-img-top-text h6,.about-section-img-bottom-text-div h6{font-size: 16px;}
  .about-section-img-bottom-text{right: -20px;padding: 25px 0;}
  .about-section-img-bottom-text-div h5{font-size: 22px;}
  .testimonial-section{padding: 60px 180px;}
  .testimonial-main{padding: 60px;}
  .testimonial-section h5{font-size: 18px;}
  .testimonial-section h3{font-size: 50px;}
  .testimonial-carousel-item h4{font-size: 20px;}
  .testimonial-btn{padding: 60px 0 20px;}
  .services-section-img img{width: 70%;}
  .services-section{padding: 60px 40px 0;}
  .services-section-text h3{font-size: 48px;}
  .focus-section-overlay{padding: 80px 40px;}
  .focus-section-text h3{font-size: 45px;line-height: 45px;letter-spacing: -2px;}
  .focus-section-text a{padding: 15px 60px;font-size: 18px;}
  .contact-section{padding: 80px 40px;}
  .contact-section-text-right h5{font-size: 20px;}
  .contact-section-text-bottom{gap: 50px;}
  .contact-section-form{padding: 0 80px 60px;}
  .contact-section-form h4{font-size: 28px;}
  .contact-form-div a,.footer-section-div h4{font-size: 18px;}
  .footer-section{padding: 40px 40px;}
  .footer-section p{width: 60%;}
  .footer-bottom-section p{font-size: 14px;}

}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
}
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
}
@media only screen and (min-width: 2560px) {
}